---

- src: git+ssh://git-codecommit.us-west-2.amazonaws.com/v1/repos/ansible-app-dynamics
  version: {{ ansible_app_dynamics_version }}
- src: git+ssh://git-codecommit.us-west-2.amazonaws.com/v1/repos/ansible-multi-app
  version: {{ ansible_multi_app_version }}
- src: git+ssh://git-codecommit.us-west-2.amazonaws.com/v1/repos/ansible-patchautomation
  version: {{ ansible_patchautomation_version }}
- src: git+ssh://git-codecommit.us-west-2.amazonaws.com/v1/repos/ansible-proxy-common
  version: {{ ansible_proxy_common_version }}
- src: git+ssh://git-codecommit.us-west-2.amazonaws.com/v1/repos/ansible-tripcase-platform
  version: {{ ansible_tripcase_platform_version }}
- src: git+ssh://git-codecommit.us-west-2.amazonaws.com/v1/repos/tripcase-ansible-templates-patchautomation
  version: {{ ansible_templates_patchautomation_version }}
- src: git+ssh://git-codecommit.us-west-2.amazonaws.com/v1/repos/ansible-tripcase-touch2
  version: {{ ansible_tripcase_touch2_version }}
- src: git+ssh://git-codecommit.us-west-2.amazonaws.com/v1/repos/ansible-tripcase-tcrails
  version: {{ ansible_tripcase_tcrails_version }}
- src: rubyisbeautiful.git-deployable-app
- src: ChristopherDavenport.universal-tomcat
- src: frank6866.zookeeper
