---

- src: git+ssh://git@git.sabre.com/etoauto/ansible-app-dynamics.git
  version: {{ ansible_app_dynamics_version }}
- src: git+ssh://git@git.sabre.com/etoauto/ansible-multi-app.git
  version: {{ ansible_multi_app_version }}
- src: git+ssh://git@git.sabre.com/etoauto/ansible-patchautomation.git
  version: {{ ansible_patchautomation_version }}
- src: git+ssh://git@git.sabre.com/etoauto/ansible-proxy-common.git
  version: {{ ansible_proxy_common_version }}
- src: git+ssh://git@git.sabre.com/etoauto/ansible-tripcase-platform.git
  version: {{ ansible_tripcase_platform_version }}
- src: git+ssh://git@git.sabre.com/tcops/tripcase-ansible-templates-patchautomation.git
  version: {{ ansible_templates_patchautomation_version }}
- src: git+ssh://git@git.sabre.com/tcops/ansible-tripcase-touch2.git
  version: {{ ansible_tripcase_touch2_version }}
- src: git+ssh://git@git.sabre.com/tcops/ansible-tripcase-tcrails.git
  version: {{ ansible_tripcase_tcrails_version }}
- src: rubyisbeautiful.git-deployable-app
- src: ChristopherDavenport.universal-tomcat
- src: frank6866.zookeeper
